.primary-button {
  background-color: #0069f7;
  color: #fff;
  border: none;
  margin-left: 8px;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  text-transform: capitalize;
  &:active {
    transform: scale(0.9);
  }
}
