.table-container {
  margin-top: 24px;
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;

  td,
  th {
    border: 1px solid;
  }

  .table-row {
    text-align: left;

    :first-child {
      width: 60%;
    }
  }
}
